
ul li p[data-v-5aa1e293] {
  text-indent: 1rem;
}
ul li p[data-v-5aa1e293]:first-child {
  margin-top: 1rem;
}
ul li ul[data-v-5aa1e293] {
  margin-left: 1rem;
}
ul li ul li[data-v-5aa1e293]:last-child {
  margin-bottom: 1rem;
}

