
.bo-wen[data-v-133c2922] {
  height: calc(100% - 90px);
}
.bo-wen .outContainer[data-v-133c2922] {
  overflow: hidden;
}
.bo-wen .innerContainer[data-v-133c2922] {
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% + 17px);
}

