
ul li p[data-v-5a93cb12] {
  text-indent: 1rem;
}
ul li p[data-v-5a93cb12]:first-child {
  margin-top: 1rem;
}
ul li ul[data-v-5a93cb12] {
  margin-left: 1rem;
}
ul li ul li[data-v-5a93cb12]:last-child {
  margin-bottom: 1rem;
}

