
html,
body {
  width: 100%;
  height: 100%;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: url(../../blog/images/img-app-bg-img.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.app-container ul {
  background-color: transparent;
}
.app-container .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.app-container .border-right {
  margin: 0 1rem;
  height: 2rem;
  border-right: 1px solid #fff;
}

.clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.d-flex {
  display: -ms-flexbox;
  display: flex;
}
.justify-content-center {
  -ms-flex-pack: center;
      justify-content: center;
}
.justify-content-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.align-items-center {
  -ms-flex-align: center;
      align-items: center;
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}
.w-50 {
  width: 50%!important;
}
.h-50 {
  height: 50%!important;
}
.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100%!important;
}
.p-1 {
  padding: 1rem!important;
}
.pt-1 {
  padding-top: 1rem!important;
}
.pb-1 {
  padding-bottom: 1rem!important;
}
.pl-1 {
  padding-left: 1rem!important;
}
.pr-1 {
  padding-right: 1rem!important;
}
.px-1 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}
.py-1 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.p-3 {
  padding: 3rem!important;
}
.pt-3 {
  padding-top: 3rem!important;
}
.pb-3 {
  padding-bottom: 3rem!important;
}
.pl-3 {
  padding-left: 3rem!important;
}
.pr-3 {
  padding-right: 3rem!important;
}
.px-3 {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
}
.py-3 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-white {
  color: #fff !important;
}
.text-dark {
  color: #000 !important;
}
.text-success {
  color: #19be6b !important;
}
.text-error {
  color: #ed3f14 !important;
}
.text-info {
  color: #2d8cf0 !important;
}
.text-warn {
  color: #ff9900 !important;
}


.page-container {
  overflow: hidden;
}
.page-container > .container {
  position: relative;
  top: 0;
  transition: top 1000ms ease;
}
.page-container > .container .side-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  top: 50%;
  right: 1rem;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  list-style-type: none;
}
.page-container > .container .side-nav li {
  margin: 0.5rem 0;
  padding: 0.3rem;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}
.page-container > .container .side-nav .active {
  background: #fff;
}

