
html,
body {
  width: 100%;
  height: 100%;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../anani1994.github.io/images/main-bg-img.8024221a132e480380b92ce7114087ec.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.app-container ul {
  background-color: transparent;
}
.app-container .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.app-container .border-right {
  margin: 0 1rem;
  height: 2rem;
  border-right: 1px solid #fff;
}


.index-container {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 30px;
  left: 0;
}
.index-container .link-ball {
  position: relative;
  width: 650px;
  height: 550px;
}
.index-container .link-ball a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}
.index-container .link-ball a:hover {
  -ms-transform: scale(1.5);
      transform: scale(1.5);
  opacity: 1;
  font-size: 2rem;
}

/*布局*/
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.d-flex {
  display: -ms-flexbox;
  display: flex;
}
.justify-content-center {
  -ms-flex-pack: center;
      justify-content: center;
}
.justify-content-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.align-items-center {
  -ms-flex-align: center;
      align-items: center;
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}
/*大小*/
.w-50 {
  width: 50%!important;
}
.h-50 {
  height: 50%!important;
}
.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100%!important;
}
.p-1 {
  padding: 1rem!important;
}
.px-1 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}
/*颜色*/
.text-white {
  color: #fff !important;
}
.text-dark {
  color: #000 !important;
}
.text-success {
  color: #19be6b !important;
}
.text-error {
  color: #ed3f14 !important;
}
.text-info {
  color: #2d8cf0 !important;
}
.text-warn {
  color: #ff9900 !important;
}

